  /* scrollBar css */
  :root {
    --clr-cyan: #033d66;
    --clr-dark-cyan: #03a09ba3;
  }
  
  /* ----- CHANGE THE SCROLL BAR DESIGN ----- */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-track {
    background: 224 71% 4%;
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--clr-cyan);
    border-radius: 30px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr-dark-cyan);
  }